<header>

  <div id="header-mobile-tools">

    <div id="header-mobile-tool-menu" class="header-mobile-tool">
      <navigation id="mobile-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/snippet">Snippets</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </navigation>
    </div>

    <div id="mobile-menu-toggle">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </div>

  </div>

  <div id="header-inner">

    <div id="header-fixed" class="header-main">
      <div class="container">
        <a href="{{ url('<front>') }}">
          <div id="header-drupal" class="col-md-1">
            <div id="header-drupal-inner">
              <img src="/themes/bootstrap/img/logo/drupal.png" />
            </div>
          </div>
          <div id="header-logo" class="col-md-4">
            <div id="header-logo-inner">
              <div id="header-logo-name">Bryan Jiencke</div>
            </div>
          </div>
        </a>
        <div id="header-menu" class="col-md-7">
          <div id="header-menu-inner">
            <div id="header-icons">
              <a id="header-icon-contact" href="{{ url('contacts.contact') }}" title="Contact">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </a>
              <a id="header-icon-top" class="scroll-link" href="#top" title="Back to top">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </a>
              <a id="header-icon-search" href="" title="Search my site">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
            </div>
            <div id="header-hidden-search">
              {{ search_form }}
            </div>

            <navigation id="main" class="header-search-menu-active">
              {{ menu }}
            </navigation>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div id="header-secondary" class="row">
        <div id="header-secondary-inner">
          <div id="header-secondary-left">
            <div id="header-lang-toggle" class="title-tooltip" title="You are currently viewing this site in {{ current_language }}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ current_language }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
            <div id="header-lang-wrapper">
                {{ language_links }}
            </div>
          </div>
          <div id="header-secondary-right">
            <div id="header-secondary-links">
              <a href="{{ url('site.about') }}">
                {{ 'About Me'|t }}
              </a>
              <a href="{{ url('contacts.contact') }}">{% trans %}Contact{% endtrans %}</a>
            </div>
            <div id="header-secondary-search">
              {{ search_form }}
            </div>
          </div>
        </div>
      </div>

      <div id="header-primary" class="row header-main">
        <div id="header-logo-wrapper">
          <a href="{{ url('<front>') }}" id="header-logo-link">
            <div id="header-drupal">
              <div id="header-drupal-inner">
                <img src="/themes/bootstrap/img/logo/drupal.png" />
              </div>
            </div>
            <div id="header-logo">
              <div id="header-logo-inner">
                <div id="header-logo-name">Bryan Jiencke</div>
                <div id="header-logo-title">{{ 'Drupal Developer'|t }}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="header-menu" class="header-not-fixed">
          <div id="header-menu-inner">
            <navigation id="main">
              {{ menu }}
            </navigation>
          </div>
        </div>
      </div>

    </div>

  </div>
</header>
