<section id="landing-project">

  <div id="landing-snippet-heading" class="section-heading">
    <h2>
      <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{ 'My Projects'|t }}
    </h2>
  </div>

  <div id="landing-project-inner">
    <div id="landing-slideshow" class="cycle-slideshow"
      data-cycle-timeout="6000"
      data-cycle-speed="1500"
      data-cycle-log="false"
      data-cycle-fx="fade"
      data-cycle-slides="> .cycle-slide"
      data-cycle-swipe="true"
      data-cycle-swipe-fx="scrollHorz"
      data-cycle-pause-on-hover="true"
    >
    {% for slide in slides %}
      <div class="cycle-slide" style="background-image: url({{ slide.hero }});">
        <div class="slide-caption container">
          <div class="slide-caption-inner">
            <div class="slide-caption-front slide-caption-side">
              <div class="slide-logo"><img src="{{ slide.logo }}"></div>
              <div class="slide-caption-body">{{ slide.description }}</div>
              <div class="slide-legal">{{ slide.legal }}</div>
              <div class="slide-buttons btn-group" aria-label="test">
                <a class="btn btn-default faa-parent animated-hover" href="{{ slide.path }}">{{ 'Project Info'|t }} <i class="fa fa-info-circle faa-pulse"></i></a>
                <a class="btn btn-default faa-parent animated-hover" href="{{ slide.url }}" target="_blank" title="This link will open in a new window.">{{ 'Go to Site'|t }} <i class="fa fa-chevron-circle-right faa-pulse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="cycle-pager"></div>
  </div>
</section>

<section id="landing-picture-bio" class="row">
  <div id="landing-picture-bio-inner" class="container">
    <div id="landing-picture" class="col-md-6">
      <div id="landing-picture-inner">
        <img src="/themes/bootstrap/img/me.jpg" />
      </div>
    </div>
    <div id="landing-bio" class="col-md-6">
      <div id="landing-bio-inner">
        <div id="landing-bio-copy">
          <p>
            {% trans %}I'm a Drupal developer with experience in versions 6, 7, and 8 located in Massachusetts. I can work with both back end/functionality and front end/design, but most of my experience is in building functionality. {% endtrans %}
          </p>
          <p>
            {% trans %}As a front end developer, I've designed with multiple responsive grid systems, Sass, jQuery, and front end frameworks. This site was designed on Drupal 8 using Bootstrap and Sass. Any design I build is fully responsive to work on any device.{% endtrans %}
          </p>
          <p>
            {% trans %}As a back end developer, I've learned the best ways to use all of Drupal's APIs, from Entity API to Batch API, in versions 6, 7, and 8.{% endtrans %}
          </p>
        </div>
        <div id="landing-bio-employee">
          {% trans %}I'm currently an employee of Miles Marketing{% endtrans %}<br><a href="http://milespartnership.com" target="_blank"><img src="/themes/bootstrap/img/logo/miles.png"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="landing-snippet">
  <div id="landing-snippet-heading" class="section-heading">
    <h2>
      <span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span> {{ 'Snippets'|t }}
    </h2>
  </div>
  <div id="landing-snippet-inner" class="container">
    {{ view_snippet }}
  </div>
</section>
